<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.mateoRodriguez.testUtils.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="Error validations Test">
        <classes>
            <class name="org.mateoRodriguez.eCommerce_tc_1"/>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="End to end Framework test">
        <classes>
            <class name="org.mateoRodriguez.eCommerce_tc_3"/>
        </classes>
    </test>
</suite>